<!-- The book list will show book name, book author and date published -->
<template name="Books_listItem">
	<div class="card books-list-item">
		<div class="card-img-top">
			<div class="card-img" style="background-image:url({{image}});"></div>
		</div>
		<div class="card-block">
			<h4 class="card-title">{{name}}</h4>
			<p class="card-text">{{author}}</p>
		</div>
		<div class="card-footer">
			<small class="text-muted">Published at {{formatDate publishedAt}}</small>
		</div>
	</div>
</template>